$color-canvas: #fffdfd;
$color-canvas-inverted: #050102;

$color-brand-primary: #2a36a4;
$color-brand-secondary: #2dd4bf;
$color-brand-tertiary: #e21b35;

$color-text-primary: #050102;
$color-text-secondary: #464646;

$color-highlight: #e21b3540;
